@{
    ViewBag.Title = "Index";
}

<h2>baltomsdn1011</h2>

<p>@Html.ActionLink("Razor", "Index", "Razor")</p>
<p>@Html.ActionLink("jQTmpl", "Index", "JQTemplates")</p>
<p>@Html.ActionLink("Backbone", "Backbone", "Viewer")</p>
<p>@Html.ActionLink("Canvas", "Canvas", "Viewer")</p>
<p>@Html.ActionLink("BinaryReader", "BinaryReader", "Viewer")</p>
<p>@Html.ActionLink("FileSystem", "FileSystem", "Viewer")</p>

